<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="写真データ整理ツール.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="写真データ整理ツール.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <写真データ整理ツール.My.MySettings>
            <setting name="出力先_任意" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="整理_する" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="重複除去" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="再帰的処理" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="不明画像PF" serializeAs="String">
                <value>※削除予定</value>
            </setting>
            <setting name="整理_タイプ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="整理_リネーム" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="整理_日時不明" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="出力先_パス" serializeAs="String">
                <value/>
            </setting>
            <setting name="整理対象_パス" serializeAs="String">
                <value/>
            </setting>
            <setting name="撮影日書式" serializeAs="String">
                <value>yyyyMMdd_</value>
            </setting>
            <setting name="日付付与" serializeAs="String">
                <value>False</value>
            </setting>
        </写真データ整理ツール.My.MySettings>
    </userSettings>
    <applicationSettings>
        <写真データ整理ツール.My.MySettings>
            <setting name="SQLite接続文字列" serializeAs="String">
                <value>Data Source=SQLite.cache.db;Version=3;</value>
            </setting>
        </写真データ整理ツール.My.MySettings>
    </applicationSettings>
</configuration>
