<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SoftwareManagementSystem.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <applicationSettings>
        <SoftwareManagementSystem.My.MySettings>
            <setting name="DB接続文字列" serializeAs="String">
                <value>User ID = summer_user;Password = ;Data Source = 192.168.88.213;Initial Catalog = SoftwareManagement</value>
            </setting>
            <setting name="MSメーカーID" serializeAs="String">
                <value>001</value>
            </setting>
            <setting name="MSカスタムキー代替文字列" serializeAs="String">
                <value>&lt;Custom Key&gt;</value>
            </setting>
        </SoftwareManagementSystem.My.MySettings>
    </applicationSettings>
</configuration>
